* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}
body {
  background-color: #f0f0f0;

}
.loginpage {
  width: 400px;
  margin: 100px auto;
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  text-align: center;
}
.loginpage h2 {
  margin-bottom: 20px;
}
.input {
  margin: 20px 0;
}

.loginbtn {
  background-color: #007bff;
  color: #fff;
  border: none;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
   transition: 500ms;
}
.loginbtn:hover {
  background-color: #c5088c;
}
.loginpage  input  {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
